@charset "UTF-8";

div {
  width: 70%;
  height: 100%;
  margin: -20px auto 0px auto;
  /* gambiarra */
  padding: 20px;
  background-color: #f3eeee;
}

.date {
  font-family: 'Roboto', sans-serif;
  color: #008080;
  margin: 20px 0px 20px 20px;
}

h2 {
  font-family: 'Montserrat', cursive;
  margin: 20px 0px 20px 20px;
}

.post-content {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 70px 20px 20px;
  text-align: justify;
}