@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px 10px;
  grid-template-areas:
  "item01 item01 item01"
  "item02 item03 item04"
  "item02 item03 item04"
  "item05 item05 item05"
  "item05 item05 item05"
  "item06 item06 item07"
  "item06 item06 item07"
  "item08 item08 item08"
}

.header, .footer, .item {
  border: 2px solid black;
  background-color: white;
  font-size: 30px;
  padding: 10px;
}

.item01 {
  grid-area: item01;
}

.item02 {
  grid-area: item02;
}

.item03 {
  grid-area: item03;
}

.item04 {
  grid-area: item04;
}

.item05 {
  grid-area: item05;
}

.item06 {
  grid-area: item06;
}

.item07 {
  grid-area: item07;
}

.item08 {
  grid-area: item08;
}